<div class="body">
    <div class="content">

        <div class="left-content">
        </div>

        <div class="right-content">

            <div class="alert alert-success" role="alert">
                <span>Congratulations</span>
            </div>
          
            <div class="content-body">
                <h6>EXAM ENDED</h6>

                <span>Dear Candidate, you have successfully completed your examination.</span>
                <span>Good Luck</span>
            </div>

        </div>

    </div>
</div>