<div class="information">
    <h6>System Information</h6>
    <div class="information-content">
        <span>Computer Name :
            @if(systemInformation.computer_name){<span>{{systemInformation.computer_name}}</span>}</span>
        <span>IP Address : @if(systemInformation.ip_address){<span>{{systemInformation.ip_address}}</span>}</span>
        <span>Mac Address : @if(systemInformation.mac_address){<span>{{systemInformation.mac_address}}</span>}</span>
        <span>OS Name : @if(systemInformation.os_name){<span>{{systemInformation.os_name}}</span>}</span>
        <span>OS Version : @if(systemInformation.os_version){<span>{{systemInformation.os_version}}</span>}</span>
        <span>OS Arch : @if(systemInformation.os_arch){<span>{{systemInformation.os_arch}}</span>}</span>
        <span>RAM Size : @if(systemInformation.ram_size){<span>{{systemInformation.ram_size}}</span>}</span>
        <span>Hard Drive Size :
            @if(systemInformation.hard_disk_size){<span>{{systemInformation.hard_disk_size}}</span>}</span>
        <span>CPU : @if(systemInformation.cpu_cores){<span>{{systemInformation.cpu_cores}}</span>}</span>
        <span>Processor ID : @if(systemInformation.processor_id){<span>{{systemInformation.processor_id}}</span>}</span>
        <span>Processor Name :
            @if(systemInformation.processor_name){<span>{{systemInformation.processor_name}}</span>}</span>
        <span>Serial Number :
            @if(systemInformation.serial_number){<span>{{systemInformation.serial_number}}</span>}</span>
        <span>Unique ID : @if(systemInformation.unique_id){<span>{{systemInformation.unique_id}}</span>}</span>
        <span>Screen Size : @if(systemInformation.screen_size){<span>{{systemInformation.screen_size}}</span>}</span>
        <span>Device Type : @if(systemInformation.device_type){<span>{{systemInformation.device_type}}</span>}</span>
        <span>IS RDP : <span>{{systemInformation.is_rdp}}</span></span>
    </div>
</div>