<div class="body">
    <div class="content">

        <div class="left-content">
            <app-system-informations></app-system-informations>
        </div>

        <div class="right-content">

            @if(dnsQuery()){

            @if(dnsQuery() !== 'Failed'){

            <div class="alert alert-success" role="alert">
                <span>Server Located on : {{dnsQuery()}}</span>
            </div>

            @if(isExamAvailable()){
            <div class="searching-exam">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>

                <span>Searching Exam</span>
            </div>

            }
            @else {
            <div>
                <span class="exam-unavailable">No available exam</span>
            </div>
            }

            }
            @else if(dnsQuery() == 'Failed') {
            <div>
                <div class="alert alert-danger" role="alert">
                    <span>No Available Server located</span>
                </div>

                <span class="ban-icon">
                    <img src="images/server-unavailable.png" />
                </span>
            </div>
            }
            }
            @else {
            <div class="loading">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>

                <span>Locating Server ...</span>
            </div>
            }

            <div class="content-footer">
                <span><code>AUTOBOT 0.1</code></span>
            </div>

        </div>

    </div>
</div>