.body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: row;
    height: 80vh;
    background-color: whitesmoke;
    width: 70%;
    margin-top: 4rem;
}

.left-content {
    width: 35%;
    background-color: #1497AC;
    display: flex;
}

.right-content {
    width: 60%;
    padding: 6rem 5rem 1rem 5rem;
    display: flex;
    flex-direction: column;
}

.content-footer {
    margin-top: auto;
    text-align: center;
    font-size: 12px;
    float: top;
}

.alert {
    text-align: center;

    span {
        font-size: 12px;
    }
}

.content-body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 2rem;
    color: black;

    .exam-available {
        font-size: 14px;
        color: rgb(99, 95, 95);
    }
}

.exam-unavailable {
    font-size: 14px;
    color: rgb(228, 112, 112);
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    .spinner-border {
        color: rgb(99, 95, 95);
    }

    span {
        font-size: 14px;
        color: rgb(99, 95, 95);
        margin-top: .5rem;
    }
}

.searching-exam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    .spinner-border {
        color: rgb(99, 95, 95);
    }

    span {
        font-size: 14px;
        color: rgb(99, 95, 95);
        margin-top: .5rem;
    }
}

.ban-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

//  responsiveness

@media (max-width: 768px) {
    .left-content {
        display: none;
    }

    .right-content {
        width: 100%;
        padding: 6rem 5rem 1rem 5rem;
        display: flex;
        flex-direction: column;
    }
}