<div class="card">
    <div class="card-body">
        <ol>
            <h6><strong>Resource Management</strong></h6>
            <li>IP Address : @if(resourceManagement()) {<span>{{resourceManagement()?.ip_addr}}</span>} </li>
            <li>System Type : @if(systemInformations()) {<span>{{systemInformations()?.os_name}}</span>}</li>
            <li>CPU Usage : @if(resourceManagement()) {<span>{{resourceManagement()?.cpu_usage}}</span>}</li>
            <li>RAM Usage : @if(resourceManagement()) {<span>{{resourceManagement()?.ram_usage}}</span>} </li>
            <li>Disk Usage : @if(resourceManagement()) {<span>{{resourceManagement()?.disk_utility}}</span>} </li>
            <li>Network Utilization : @if(resourceManagement()) {<span>{{resourceManagement()?.network_utilization}}</span>} </li>
            
        </ol>
    </div>
</div>